* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body {
    padding: 0;
    border: 0;
    margin: 0;
}

/* Template Section */
.contact-us {
    color: black;
    background-color: white;
    font-size: 1.1rem;
    font-weight: 200;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 3em;
    border: 0;
    margin-top: 1rem;
    letter-spacing: 0.5rem;
    border-radius: 10px;
}

.heading-1 {
    font-size: 5rem;
    padding: 0;
    margin: 0.5rem 0;
}

.heading-2 {
    font-size: 2rem;
    padding: 0;
    margin: 0.5rem 0;
}
.paragraph {
    font-size: 1.5rem;
    font-weight: 100;
    padding: 0;
    margin: 0.5rem 0;
}
/* End of Template Section */

/* Navigation Section */
header {
    position: fixed;
    z-index: 2;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5rem;
    padding: 0 4rem;
    border-bottom: 1px solid black;
    margin: 0;
    top: 0;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 0;
    margin: 0;
}

.nav-bar div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 8rem;
}

.nav-bar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.nav-bar ul li {
    list-style: none;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 350;
    letter-spacing: .2rem;
}

.nav-bar ul li a {
    color: black;
    text-decoration: none;

}
/* End of Navigation Section */

/* Banner Section */
#banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 0 4rem;
    margin-top: 80px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(assets/wp1822923-pacific-rim-wallpapers.jpg) no-repeat top;
    background-size: cover;
}

#banner div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    height: 800px;
    padding-right: 20rem;
    color: white;
}
/* End of Banner Section */

/* Description Section */
#description {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 0 4rem;
    margin: 10rem 0;
}

#description h2 {
    max-width: 1200px;
}
/* End of Description Section */

/* Services Card Section */
#services-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 4rem;
}

#services-card > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;

}

.cards {
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 600px;
    border: 1px solid lightgray;
}

.cards img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.cards div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 3rem 2rem;
}

.cards div:nth-child(2) a {
    margin: 0.5rem;
}

.cards div:nth-child(2) a:nth-child(1) {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.cards div:nth-child(2) a:nth-child(2) {
    color: black;
    text-decoration: none;
}

.cards div:nth-child(2) a:nth-child(3) {
    text-transform: uppercase;
}
/* End of Services Card Section */

/* Services Section */
#services {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 4rem;
    margin: 0;

}

#services > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;

}

.serv-desc {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 10rem 0;
}

.serv-desc:nth-child(2) {
    flex-direction: row-reverse;
}

.serv-desc img {
    width: 720px;
    height: 480px;
    object-fit: cover;
    object-position: center 20%;
}

.serv-desc div:nth-child(2) {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(assets/360_F_94255289_bLOLo8dVkESH4wP4QNVUg4hWBlcBEEOg.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    max-width: 600px;
    height: auto;
    padding: 2rem 3.5rem 2.5rem;
    top: 15rem;
    right: 10rem;
    border-radius: 10px;
}

.serv-desc:nth-child(2) div:nth-child(2) {
    left: 10rem;
}
/* End of Services Section */

/* Client Review Section */
#client-review {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 0 4rem;
    margin: 10rem 0 20rem;
}

#client-review div {
    width: 100%;
    max-width: 1200px;
}

#client-review blockquote {
    font-style: italic;
}

#client-review cite {
    font-style: normal;
    font-weight: bolder;
}
/* End of Client Review Section */

/* Offering Section */
#offering {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 4rem;
    margin: 20rem 0 0;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(assets/360_F_94255289_bLOLo8dVkESH4wP4QNVUg4hWBlcBEEOg.jpg) no-repeat center;
    background-size: cover;
}

#offering > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    color: white;
    padding: 3rem 0 4rem;
}

#offering div div

#offering div:nth-child(1) {
    width: 100%;
}

#offering div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}
/* End of Offering Section */

/* footer section */
#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    background-color: black;
    padding: 0 4rem;
    margin: 0;
}

#footer > div {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 2rem 0;
}

#footer p {
    text-transform: uppercase;
    font-weight: 550;
    padding: 0;
    margin: 0 0 1rem;
}

#footer ul {
    padding: 0;
    margin: 0;
}

#footer ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1.5rem;
    font-size: 0.9rem;
    padding: 0;
    margin: 0;
}

#footer ul li a {
    color: white;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

footer > div > div:nth-child(4) ul {
    display: flex;
    gap: 1rem;
}

footer > div > div:nth-child(4) ul li a img{
    width: 1rem;
    margin-bottom: 1rem;
    
}